/* Add your CSS styles here */

body {
    background-color: rgb(117, 170, 236);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: #ffffff;
    padding: 20px;
  }

  nav {
    background-color: #595959;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  nav ul li {
    display: inline;
  }
  
  nav ul li a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
  }

  main {
    padding: 20px;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }

  table {
    background-color: #fff;
    text-align: center;
    border: 1px #333;
  }

  p.p1 {
    text-align: center;
  }
  